.heads {
    background-image: url('../images/EventOrganizers.png');
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.greet {
    color: aliceblue;
    font-size: 2.5em;
    font-weight: bolder;
}

 .bizimg {
    height: 200px;
    width: auto;
    border-radius: 0;
 }

 .imagebooth {
    justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        background-color: black;
        height: 200px;
 }

 .cara {
    width: 80%;
    display: flex;
        justify-content: center;
        align-items: center;
 }

 .litm {
    text-align: center;
 }

 .vendor-details {
    padding: 20px;
    height: 100px;
 }

.pkgs {
   height: 100px;
   width: 100px;
   background-color: aquamarine;
   border-radius: 5px;
   margin: 20px 10px;
}

.pkg-cont {
   justify-content: center;
      align-items: center;
      display: flex;
}

.accor {
   /* width: 100% */
   margin: 30px;
}

.subbtn {
   background-color: teal;
   color: white;
   border-radius: 5px;
}

.ms-head {
   height: 20%;
}

.conten {
   height: 80%;
   width: 100%;
}

.contenContact {
   height: 100px;
   width: 100%;
}
.vpanel2 {
   width: 95vw;
   background-color: aliceblue;
   justify-content: center;
   align-items: center;
   height: 400px;
   margin: 10px;
   border-radius: 10px;
   padding: 30px;
}

.litbox {
   width: 150px;
   height: 200px;
   border-radius: 10px;
   background-color: gainsboro;
   border: 1px solid black;
   text-align: center;
   margin: 10px;
       float: left;
}  

.litbox > img {
   height: 70%;
   width: 100%;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   
}